<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Display Stocks</h3>
        <form #f="ngForm"
              (ngSubmit)="onSubmit(f)">
<div class="form-group col-md-6">
    <label for="inputcname">Company Name</label>
    <input type="text" class="form-control" id="inputcname" [(ngModel)]="seName" name="cname">
</div>
<button type="submit"
                    [disabled]="f.invalid"
                    class="btn btn-primary">GetIPo</button>
        </form>
    </div>
</div>
<h2>The Stocks are</h2>
<div *ngFor="let obj of stockExchange">
<div *ngFor="let item of obj | keyvalue">
    {{item.key}}:{{item.value}}
  </div>
  </div>