<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Display Stocks</h3>
        <form #f="ngForm"
              (ngSubmit)="onSubmit(f)">
<div class="form-group col-md-6">
    <label for="inputcname">Stock Id</label>
    <input type="number" class="form-control" id="inputcname" [(ngModel)]="stockid" name="cname">
</div>
<button type="submit"
                    [disabled]="f.invalid"
                    class="btn btn-primary">GetIPo</button>
 <h3>Delete Stock</h3>
<div class="form-group col-md-6">
                                            <label for="inputcname">Company Code</label>
                                            <input type="text" class="form-control" id="inputcname" [(ngModel)]="companyCode" name="cname">
                                        </div>
<button type="submit" (click)="onDelete()"
                                        [disabled]="f.invalid"
                                        class="btn btn-primary">DeleteStocks</button>
        </form>
    </div>
</div>
<h2>The Stocks are</h2>
<div *ngFor="let obj of stockDetails">
<div *ngFor="let item of obj | keyvalue">
    {{item.key}}:{{item.value}}
  </div>
  </div>